<%= form_with model: [@article, @article.comments.build] do |form| %>
  <div>
      <p><%= form.label :commenter %></p>
      <%= form.text_field :commenter %>
  </div>

  <div>
    <%= form.label :status %>
    <%= form.select :status, Visible::VALID_STATUSES, selected: 'public' %>
  </div>

  <div>
    <p><%= form.label :body %></p>
    <%= form.text_area :body %>
  </div>

  <%= form.submit %>
<% end %>
